.button {
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: $primary;
  background: #000;
  border: none;
  max-width: max-content;
  padding: 9px 22px;
  cursor: pointer;
}

.button:hover {
  background: $sand;
  transition-duration: 0.4s;
}

.button:active {
  background: #cfaf91;
  transition-duration: 0.4s;
}

.button:disabled {
  background: #c1c1c1;
}
