.category-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &__item {
    position: relative;
  }
  &__image {
    width: 280px;
    height: 270px;
    @media screen and (max-width: 768px) {
      width: 258px;
      height: 249px;
    }
  }
}

.category-list__item {
  @media screen and (max-width: 1200px) {
    &:nth-child(4) {
      display: none;
    }
  }
  @media screen and (max-width: 992px) {
    &:nth-child(3) {
      display: none;
    }
  }
  @media screen and (max-width: 676px) {
    &:nth-child(2) {
      display: none;
    }
  }
}
