.container {
  max-width: 1180px;
  margin: auto;
  &-column {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  @media screen and (max-width: 1200px) {
    max-width: 920px;
  }
  @media screen and (max-width: 992px) {
    max-width: 768px;
  }
  @media screen and (max-width: 768px) {
    max-width: 648px;
  }
  @media screen and (max-width: 676px) {
    max-width: 480px;
  }
  @media screen and (max-width: 480px) {
    max-width: 335px;
  }
  &--responsive {
    @media screen and (max-width: 480px) {
      max-width: 100%;
    }
  }
}
