.footer {
  background-color: #434343;
  padding: 100px 0;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  &__section {
    width: 380px;
  }
  &__title {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #aaaaaa;
    margin-bottom: 25px;
    border-bottom: 1px solid #666666;
    padding-bottom: 25px;
  }
  &__nav {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }
  &__link {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: $primary;
  }
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #666666;
    padding-top: 23px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: $primary;
  }
  &__company {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #a2a2a2;
  }
}

.connect {
  display: flex;
  &__input {
    width: 300px;
    min-height: 40px;
    background: #666666;
    border: none;
    box-shadow: none;
    outline: none;
    &::placeholder {
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      color: #ebebeb;
      padding-left: 15px;
    }
  }
}

.footer__link:hover,
.social-list__icon:hover {
  opacity: 0.5;
  transition-duration: 0.4s;
}

.footer__link:active,
.social-list__icon:active {
  opacity: 0.2;
  transition-duration: 0.4s;
}

.footer__input:hover,
.footer__input:focus {
  border: 1px solid #fffdfd;
}

.social-list {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-top: 25px;
  &__link {
    display: block;
    width: 30px;
    height: 30px;
  }
  &__icon {
    width: inherit;
    height: inherit;
  }
}

.rating {
  display: flex;
  align-items: center;
  column-gap: 20px;
  width: 380px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: $primary;
  &__group {
    position: relative;
    width: 5em;
    height: 1em;
    background-image: url("../img/star.svg");
    background-size: 1em auto;
    background-repeat: repeat-x;
  }
  &__caption {
    float: left;
    &--hovered {
      color: $sand;
    }
  }
  &__star {
    position: absolute;
    top: 0;
    left: 0;
    width: 1em;
    height: 1em;
    appearance: none;
    background-size: 1em auto;
    background-repeat: repeat-x;
    font-size: inherit;
    cursor: pointer;
    margin: 0;
  }
}

.rating:focus-within {
  color: $sand;
}

.rating__star:checked {
  background-image: url("../img/star_click.svg");
}

.rating__star:hover {
  background-image: url("../img/star_hover.svg");
}

.rating__star:hover ~ .rating__star {
  background-image: url("../img/star.svg");
}

.rating__star:nth-of-type(1) {
  z-index: 5;
  width: 1em;
}

.rating__star:nth-of-type(2) {
  z-index: 4;
  width: 2em;
}

.rating__star:nth-of-type(3) {
  z-index: 3;
  width: 3em;
}

.rating__star:nth-of-type(4) {
  z-index: 2;
  width: 4em;
}

.rating__star:nth-of-type(5) {
  z-index: 1;
  width: 5em;
}

.footer__company:hover,
.footer__company:active {
  color: $primary;
  text-decoration: underline;
  transition-duration: 0.4s;
}
