.form {
  width: 680px;
  background-color: #e5eaf8;
  padding: 42px 40px;
  &__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  &__label {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    margin-bottom: 3px;
  }
  &__personal {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
  }
  &__input {
    background: $primary;
    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
  }
  &__name {
    width: 600px;
    min-height: 50px;
    ::placeholder {
      padding-left: 20px;
    }
  }
  &__phone-email {
    display: flex;
    column-gap: 20px;
  }
  &__phone,
  &__email {
    width: 290px;
    min-height: 50px;
  }
  &__message {
    width: 600px;
    min-height: 150px;
    resize: none;
  }
}

.form__input:hover,
.form__input:focus {
  border-color: rgba(194, 153, 116, 0.7);
  transition-duration: 0.4s;
}
