.header {
  padding-top: 50px;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__nav {
    display: flex;
    align-items: center;
    column-gap: 20px;
    &--mobile {
      display: none;
    }
  }
  &__link {
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
  }
  &--small {
    padding-top: 32px;
  }
}

.links-wrapper {
  display: flex;
  align-items: center;
  margin-left: -420px;
  @media screen and (max-width: 1200px) {
    margin-left: 0;
  }
}

.logo {
  display: block;
  width: 100px;
  height: 52px;
  &__image {
    width: inherit;
    height: inherit;
  }
}

.search {
  display: flex;
  align-items: center;
  column-gap: 20px;
  &__icon {
    width: 25px;
    height: 24px;
    cursor: pointer;
  }
  &__contact {
    font-size: 14px;
    line-height: 19px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.logo:hover,
.header__link:hover,
.search__icon:hover,
.search__contact:hover {
  opacity: 0.5;
  transition-duration: 0.4s;
}

@media screen and (max-width: 992px) {
  .header__nav {
    display: none;
    &--mobile {
      display: block;
    }
  }
  .search__contact {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding-top: 35px;
  }
  .logo {
    width: 62px;
    height: 32px;
  }
  .search__icon {
    width: 17px;
    height: 17px;
  }
}

@media screen and (max-width: 480px) {
  .header {
    padding-top: 25px;
  }
  .logo {
    width: 42px;
    height: 22px;
  }
  .search__icon {
    width: 13px;
    height: 13px;
  }
}
