.header {
  padding-top: 50px;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__nav {
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-left: 60px;
  }
  &__link {
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
  }
}

.links-wrapper {
  display: flex;
  align-items: center;
}

.logo {
  display: block;
  width: 100px;
  height: 52px;
  &__image {
    width: inherit;
    height: inherit;
  }
}

.search {
  display: flex;
  align-items: center;
  column-gap: 20px;
  &__icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  &__contact {
    font-size: 14px;
    line-height: 19px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.logo:hover,
.header__link:hover,
.search__icon:hover,
.search__contact:hover {
  opacity: 0.5;
}
