* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: $primary;
  color: $secondary;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $secondary;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.checkbox + label::before {
  content: "";
  display: inline-block;
  width: 19px;
  height: 19px;
  background-image: url("../img/checkbox_off.svg");
  margin-right: 15px;
  cursor: pointer;
}

.checkbox:checked + label::before {
  background-image: url("../img/checkbox_on.svg");
}

.radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.radio + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.radio + label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../img/radio_off.svg");
  margin-right: 10px;
  cursor: pointer;
}

.radio:checked + label::before {
  background-image: url("../img/radio_on.svg");
}

.title {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 49px;
  text-transform: uppercase;
}

.subtitle {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  text-transform: uppercase;
  &--up {
    margin-top: -25px;
  }
}

.italic {
  font-family: "Crimson Text", Arial, sans-serif;
  font-style: italic;
  font-size: 26px;
  font-weight: 400;
  line-height: 34px;
}

.groups {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  text-transform: uppercase;
  color: $primary;
  text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
  text-align: center;
}

.groups:hover {
  text-decoration: underline;
}

.info {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.breadcrumbs {
  padding-top: 15px;
  padding-bottom: 50px;
  &__list {
    display: flex;
  }
  &__item {
    font-family: "Crimson Text", Arial, sans-serif;
    font-style: italic;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    margin-right: 20px;
  }
}

.breadcrumbs__item:nth-last-child(1) {
  opacity: 0.5;
}

.breadcrumbs__item:not(:last-child)::after {
  content: url("../img/small_arrow.svg");
  margin-left: 20px;
}
