@import "_variables.base";
@import "_mixins";

/*
  Import vendor libraries
*/
@import "vendor/_normalize";

/*
  Import utils classes and base styles
*/
@import "_utils";
@import "_base";

/*
  Import all other blocks
*/
@import "_blocks/container";
@import "_blocks/header";
@import "_blocks/button";
@import "_blocks/footer";

/*
  Ниже пример подключения других блоков

  Каждый новый файл должен отвечать за конкретный блок в терминах БЭМ
  (https://ru.bem.info/methodology/key-concepts/#%D0%B1%D0%BB%D0%BE%D0%BA)

  Для именования селекторов давайте придерживаться стиля two dashes
  (https://ru.bem.info/methodology/naming-convention/#%D1%81%D1%82%D0%B8%D0%BB%D1%8C-two-dashes)
  block-name__element-name--modificator
*/

/*
  Код ниже нужно удалить, он добавлен просто для примера
  Не стал выносить в отдельный файл, но если бы блок coming-soon действительно был бы нужен,
  то он должен был бы быть в файле _blocks/coming-soon.scss
*/

.category,
.delivery,
.awards {
  margin-bottom: 90px;
}

.main {
  margin-top: 129px;
  margin-bottom: 90px;
  &-background {
    display: flex;
    column-gap: 44px;
    background: #eee4db;
  }
  &-info {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    max-width: 307px;
    margin: 89px 0 89px 0;
  }
}

.count {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 200;
  font-size: 60px;
  line-height: 73px;
  color: rgba(30, 6, 6, 0.05);
  &-wrapper {
    margin: 17px 0 10px 28px;
  }
}

.control {
  width: 31px;
  height: 3px;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  &-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 11px;
    width: 31px;
    margin-top: 10px;
  }
  &__line {
    display: block;
    width: inherit;
    height: inherit;
    background-color: #d6cac2;
    &--checked {
      background-color: rgba(30, 6, 6, 0.6);
    }
  }
}

.control__line:hover {
  background-color: rgba(30, 6, 6, 0.6);
}

.designed {
  font-family: "Crimson Text", Arial, sans-serif;
  font-style: italic;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
}

.banner {
  position: absolute;
  top: -89px;
  right: 100px;
  width: 636px;
  height: 490px;
}

.offer {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #c29974;
  padding: 11px 0;
  z-index: 3;
}

.category-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 30px 0 30px 0;
  &__item {
    position: relative;
  }
  &__image {
    width: 280px;
    height: 270px;
  }
}

.arrows-wrapper {
  display: flex;
  align-items: center;
  column-gap: 20px;
  max-width: 680px;
}

.arrows {
  display: flex;
  column-gap: 6px;
  &-wrapper {
    display: flex;
    align-items: center;
    column-gap: 20px;
    max-width: 680px;
  }
  &-button {
    width: 37px;
    height: 37px;
    background: rgba(112, 187, 220, 0.2);
    border: none;
    cursor: pointer;
    padding: 0;
    &__icon {
      width: 18px;
      height: 30px;
      stroke: $secondary;
    }
  }
}

.delivery {
  &-wrapper {
    display: flex;
    column-gap: 60px;
  }
  &-image {
    width: 480px;
    height: 559px;
  }
  &-info {
    max-width: 540px;
    margin: 30px 0 57px 0;
  }
  &-list {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin: 6px 0 29px 0;
    &__title {
      display: inline-block;
    }
  }
}

.delivery-list__title--checked {
  font-weight: 700;
  background-color: rgba(112, 187, 220, 0.2);
  padding: 11px 178px 10px 60px;
}

.shift {
  margin-left: 60px;
}

.info-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  margin-bottom: 26px;
}

.awards-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-wrapper {
  display: flex;
  column-gap: 57px;
  padding-top: 25px;
  margin-bottom: 45px;
  min-height: 359px;
}

.design,
.contacts-info {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 543px;
  height: fit-content;
  background-color: #e1f0f7;
}

.design {
  padding: 0 30px 27px 30px;
}

.contacts-info {
  padding: 0 30px 102px 30px;
}

.button--margin {
  margin-top: 10px;
}

.map {
  position: relative;
  top: -80px;
  left: 30px;
  margin-bottom: -80px;
}
