@import "_variables.base";
@import "_mixins";

/*
  Import vendor libraries
*/
@import "vendor/_normalize";

/*
  Import utils classes and base styles
*/
@import "_utils";
@import "_base";

/*
  Import all other blocks
*/
@import "_blocks/container";
@import "_blocks/header";
@import "_blocks/footer";

/*
  Ниже пример подключения других блоков

  Каждый новый файл должен отвечать за конкретный блок в терминах БЭМ
  (https://ru.bem.info/methodology/key-concepts/#%D0%B1%D0%BB%D0%BE%D0%BA)

  Для именования селекторов давайте придерживаться стиля two dashes
  (https://ru.bem.info/methodology/naming-convention/#%D1%81%D1%82%D0%B8%D0%BB%D1%8C-two-dashes)
  block-name__element-name--modificator
*/

/*
  Код ниже нужно удалить, он добавлен просто для примера
  Не стал выносить в отдельный файл, но если бы блок coming-soon действительно был бы нужен,
  то он должен был бы быть в файле _blocks/coming-soon.scss
*/
