<div class="scene__wrapper">
  <img src="./img/sky.png" alt="Image: Clouds and sun" class="scene__sky" />
  <img src="./img/city.png" alt="Image: City" class="scene__city" />
  <img src="./img/highway.png" alt="Image: Highway" class="scene__highway" />
  <img
    src="./img/lanterns.png"
    alt="Image: Lanterns"
    class="scene__lanterns-1"
  />
  <img
    src="./img/lanterns.png"
    alt="Image: Lanterns"
    class="scene__lanterns-2"
  />
  <img src="./img/lantern.png" alt="Image: Lantern" class="scene__lantern" />
  <img src="./img/woman.png" alt="Image: Woman" class="scene__woman" />
  <img
    src="./img/suitcases.png"
    alt="Image: Suitcases"
    class="scene__suitcases"
  />
  <img src="./img/man.png" alt="Image: Man" class="scene__man" />
  <img
    src="./img/man_hand.png"
    alt="Image: Man's hand"
    class="scene__man-hand"
  />
  <img
    src="./img/woman_hand.png"
    alt="Image: Woman's hand"
    class="scene__woman-hand"
  />
  <img src="./img/car_4.png" alt="Image: Car 4" class="scene__car-4" />
  <img src="./img/car_3.png" alt="Image: Car 3" class="scene__car-3" />
  <img src="./img/car_2.png" alt="Image: Car 2" class="scene__car-2" />
  <img src="./img/car_1.png" alt="Image: Car 1" class="scene__car-1" />
  <img
    src="./img/message_1.png"
    alt="Image: Message 1"
    class="scene__message-1"
  />
  <img
    src="./img/message_2.png"
    alt="Image: Message 2"
    class="scene__message-2"
  />
  <img src="./img/taxi.png" alt="Image: Taxi" class="scene__taxi" />
  <img
    src="./img/message_3.png"
    alt="Image: Message 3"
    class="scene__message-3"
  />
  <img
    src="./img/message_4.png"
    alt="Image: Message 4"
    class="scene__message-4"
  />
</div>
