<div class="scene__wrapper">
  <img src="./img/sky.png" alt="Image: Clouds and sun" class="scene__sky" />
  <img src="./img/city.png" alt="Image: City" class="scene__city" />
  <img
    src="./img/lanterns.png"
    alt="Image: Lanterns"
    class="scene__lanterns-1"
  />
  <img
    src="./img/lanterns.png"
    alt="Image: Lanterns"
    class="scene__lanterns-2"
  />
  <img src="./img/lantern.png" alt="Image: Lantern" class="scene__lantern" />
  <img src="./img/woman.png" alt="Image: Woman" class="scene__woman" />
  <img
    src="./img/suitcases.png"
    alt="Image: Suitcases"
    class="scene__suitcases"
  />
  <img src="./img/man.png" alt="Image: Man" class="scene__man" />
  <img src="./img/hand.png" alt="Image: Man's hand" class="scene__hand" />
</div>
