<footer class="footer">
  <div class="container">
    <div class="footer-wrapper">
      <section class="footer-section">
        <h5 class="footer-title">Navigation</h5>
        <nav>
          <ul class="footer-nav">
            <li><a href="#" class="footer-nav__link">About Us</a></li>
            <li><a href="#" class="footer-nav__link">Blog</a></li>
            <li>
              <a href="#" class="footer-nav__link">Design Services</a>
            </li>
            <li><a href="#" class="footer-nav__link">Featured On</a></li>
            <li>
              <a href="#" class="footer-nav__link">2018 Holiday Catalog</a>
            </li>
            <li>
              <a href="#" class="footer-nav__link">Shop By Designer</a>
            </li>
          </ul>
        </nav>
      </section>
      <section class="footer-section">
        <h5 class="footer-title">Customer Information</h5>
        <div class="footer-lines"></div>
        <nav>
          <ul class="footer-nav">
            <li>
              <a href="../../contacts.html" class="footer-nav__link"
                >Contact Us</a
              >
            </li>
            <li>
              <a href="#" class="footer-nav__link">Sale Exclusions</a>
            </li>
            <li>
              <a href="#" class="footer-nav__link">Shipping & Returns</a>
            </li>
            <li>
              <a href="#" class="footer-nav__link">Terms & Conditions</a>
            </li>
            <li><a href="#" class="footer-nav__link">Privacy Policy</a></li>
            <li><a href="#" class="footer-nav__link">Search</a></li>
          </ul>
        </nav>
      </section>
      <section class="footer-section">
        <h5 class="footer-title">Connect</h5>
        <div class="footer-lines"></div>
        <form action="#">
          <div class="footer-form">
            <label for="input-email-footer"></label>
            <input
              type="email"
              id="input-email-footer"
              placeholder="Email"
              class="footer-input"
            />
            <button type="submit" class="button">Join</button>
          </div>
        </form>
        <ul class="social-list">
          <li>
            <a
              href="https://www.facebook.com/"
              class="social-list__link"
              target="_blank"
            >
              <svg class="social-list__icon" width="30" height="30">
                <title>Icon: Facebook</title>
                <use xlink:href="./img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="https://twitter.com/"
              class="social-list__link"
              target="_blank"
            >
              <svg class="social-list__icon" width="30" height="30">
                <title>Icon: Twitter</title>
                <use xlink:href="./img/sprite.svg#twitter"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="https://pinterest.com/"
              class="social-list__link"
              target="_blank"
            >
              <svg class="social-list__icon" width="30" height="30">
                <title>Icon: Pinterest</title>
                <use xlink:href="./img/sprite.svg#pinterest"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="https://www.instagram.com/"
              class="social-list__link"
              target="_blank"
            >
              <svg class="social-list__icon" width="30" height="30">
                <title>Icon: instagram</title>
                <use xlink:href="./img/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </section>
    </div>
    <div class="footer-bottom-wrapper">
      <fieldset class="rating">
        <legend class="rating__caption">Company Rating</legend>
        <div class="rating-group">
          <input
            type="radio"
            name="star"
            value="1"
            aria-label="Ужасно"
            class="rating__star"
          />
          <input
            type="radio"
            name="star"
            value="2"
            aria-label="Сносно"
            class="rating__star"
          />
          <input
            type="radio"
            name="star"
            value="3"
            aria-label="Нормально"
            class="rating__star"
          />
          <input
            type="radio"
            name="star"
            value="4"
            aria-label="Хорошо"
            class="rating__star"
          />
          <input
            type="radio"
            name="star"
            value="5"
            aria-label="Отлично"
            class="rating__star"
          />
        </div>
      </fieldset>
      <span class="footer-bottom">Copyright © 2018 Dlk • Design Life Kids</span>
      <a href="#" class="footer-bottom footer-bottom--light"
        >Web Design — Direct Line Development</a
      >
    </div>
  </div>
</footer>
