<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <section class="footer__section">
        <h5 class="footer__title">Navigation</h5>
        <nav>
          <ul class="footer__nav">
            <li><a href="#" class="footer__link">About Us</a></li>
            <li><a href="#" class="footer__link">Blog</a></li>
            <li>
              <a href="#" class="footer__link">Design Services</a>
            </li>
            <li><a href="#" class="footer__link">Featured On</a></li>
            <li>
              <a href="#" class="footer__link">2018 Holiday Catalog</a>
            </li>
            <li>
              <a href="#" class="footer__link">Shop By Designer</a>
            </li>
          </ul>
        </nav>
      </section>
      <section class="footer__section">
        <h5 class="footer__title">Customer Information</h5>
        <nav>
          <ul class="footer__nav">
            <li>
              <a href="../../contacts.html" class="footer__link">Contact Us</a>
            </li>
            <li>
              <a href="#" class="footer__link">Sale Exclusions</a>
            </li>
            <li>
              <a href="#" class="footer__link">Shipping & Returns</a>
            </li>
            <li>
              <a href="#" class="footer__link">Terms & Conditions</a>
            </li>
            <li><a href="#" class="footer__link">Privacy Policy</a></li>
            <li><a href="#" class="footer__link">Search</a></li>
          </ul>
        </nav>
      </section>
      <section class="footer__section">
        <h5 class="footer__title">Connect</h5>
        <form action="#">
          <div class="connect">
            <label for="input-email-footer"></label>
            <input
              type="email"
              id="input-email-footer"
              placeholder="Email"
              class="connect__input"
            />
            @@include('blocks/button.html', { "type": "submit", "name": "Join",
            "class": "" })
          </div>
        </form>
        <ul class="social-list">
          <li>
            <a
              href="https://www.facebook.com/"
              class="social-list__link"
              target="_blank"
            >
              <svg class="social-list__icon" width="30" height="30">
                <title>Icon: Facebook</title>
                <use xlink:href="./img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="https://twitter.com/"
              class="social-list__link"
              target="_blank"
            >
              <svg class="social-list__icon" width="30" height="30">
                <title>Icon: Twitter</title>
                <use xlink:href="./img/sprite.svg#twitter"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="https://pinterest.com/"
              class="social-list__link"
              target="_blank"
            >
              <svg class="social-list__icon" width="30" height="30">
                <title>Icon: Pinterest</title>
                <use xlink:href="./img/sprite.svg#pinterest"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              href="https://www.instagram.com/"
              class="social-list__link"
              target="_blank"
            >
              <svg class="social-list__icon" width="30" height="30">
                <title>Icon: instagram</title>
                <use xlink:href="./img/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </section>
    </div>
    <div class="footer__bottom">
      <fieldset class="rating footer__section">
        <legend class="rating__caption">Company Rating</legend>
        <div class="rating__group">
          <input
            type="radio"
            name="star"
            value="1"
            aria-label="Ужасно"
            class="rating__star"
          />
          <input
            type="radio"
            name="star"
            value="2"
            aria-label="Сносно"
            class="rating__star"
          />
          <input
            type="radio"
            name="star"
            value="3"
            aria-label="Нормально"
            class="rating__star"
          />
          <input
            type="radio"
            name="star"
            value="4"
            aria-label="Хорошо"
            class="rating__star"
          />
          <input
            type="radio"
            name="star"
            value="5"
            aria-label="Отлично"
            class="rating__star"
          />
        </div>
      </fieldset>
      <span class="footer__copyright footer__section"
        >Copyright © 2018 Dlk • Design Life Kids</span
      >
      <a href="#" class="footer__company footer__section"
        >Web Design — Direct Line Development</a
      >
    </div>
  </div>
</footer>
