<form action="#" class="form">
  <div class="form__wrapper">
    <div>
      <label for="input-name" class="form__label">Name</label>
      <input
        type="text"
        id="input-name"
        placeholder="Ivan Ivanov"
        class="form__input form__name"
      />
    </div>
    <div class="form__phone-email">
      <div>
        <label for="input-phone" class="form__label">Phone</label>
        <input type="tel" id="input-phone" class="form__input form__phone" />
      </div>
      <div>
        <label for="input-email" class="form__label">Email</label>
        <input type="email" id="input-email" class="form__input form__email" />
      </div>
    </div>
    <div>
      <label for="input-message" class="form__label">Message</label>
      <textarea id="input-message" class="form__input form__message"></textarea>
    </div>
    <div class="form__personal">
      <input
        type="checkbox"
        class="form__input checkbox"
        id="input-personal"
        checked
      />
      <label for="input-personal" class="form__label"
        >By clicking on the button, you consent to the processing of your
        personal data</label
      >
    </div>
    @@include('blocks/button.html', { "type": "submit", "name": "Submit",
    "class": "" })
  </div>
</form>
