<header class="header @@class">
  <div class="container">
    <div class="header__wrapper">
      <a href="./index.html" class="logo">
        <svg class="logo__image">
          <title>Icon: Logo</title>
          <use xlink:href="./img/sprite.svg#logo"></use>
        </svg>
      </a>
      <div class="links-wrapper">
        <nav class="header__nav header__nav--mobile">
          <button class="header__link menu-button">Menu</button>
        </nav>
        <nav>
          <ul class="header__nav">
            <li>
              <a href="../../catalog.html" class="header__link">Catalog</a>
            </li>
            <li>
              <a href="#" class="header__link">About Us</a>
            </li>
            <li>
              <a href="../../blog.html" class="header__link">Blog</a>
            </li>
            <li>
              <a href="../../scene.html" class="header__link">Animation</a>
            </li>
            <li>
              <a href="../../svg.html" class="header__link">SVG</a>
            </li>
            <li>
              <a href="../../grid.html" class="header__link">Grid</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="search">
        <svg class="search__icon" width="24" height="24">
          <title>Icon: Search</title>
          <use xlink:href="./img/sprite.svg#search"></use>
        </svg>
        <a href="../../contacts.html" class="search__contact">Contact Us</a>
      </div>
    </div>
  </div>
</header>

<header class="header-menu">
  <div class="header-menu__overlay"></div>
  <div class="header-menu__dialog">
    <div class="container">
      <div class="header-menu__wrapper">
        <a href="./index.html" class="logo">
          <svg class="logo__image">
            <title>Icon: Logo</title>
            <use xlink:href="./img/sprite.svg#logo"></use>
          </svg>
        </a>
        <button class="close-button header-menu__close">
          <svg class="close-button__icon" width="16" height="16">
            <title>Icon: Close Button</title>
            <use xlink:href="./img/sprite.svg#dark_close"></use>
          </svg>
        </button>
        <div class="search">
          <svg class="search__icon" width="24" height="24">
            <title>Icon: Search</title>
            <use xlink:href="./img/sprite.svg#search"></use>
          </svg>
        </div>
      </div>
      <nav>
        <ul class="header__nav header__nav--mobile">
          <li>
            <a
              href="../../catalog.html"
              class="header__link header__link--shift"
              >Catalog</a
            >
          </li>
          <li>
            <a href="#" class="header__link header__link--shift">About Us</a>
          </li>
          <li>
            <a href="../../blog.html" class="header__link header__link--shift"
              >Blog</a
            >
          </li>
          <li>
            <a href="../../scene.html" class="header__link header__link--shift"
              >Animation</a
            >
          </li>
          <li>
            <a href="../../svg.html" class="header__link header__link--shift"
              >SVG</a
            >
          </li>
          <li>
            <a href="#" class="header__link header__link--shift">Grid</a>
          </li>
        </ul>
      </nav>
      <div class="search">
        <a href="../../contacts.html" class="search__contact--mobile"
          >Contact Us</a
        >
      </div>
    </div>
  </div>
</header>
