<nav class="pagination">
  <button class="pagination__button">
    <svg class="pagination__icon" width="18" height="30">
      <title>Icon: Arrow Prev</title>
      <use xlink:href="../img/sprite.svg#arrow_prev"></use>
    </svg>
  </button>
  <ol class="pagination__list">
    <li>
      <a href="#" class="pagination__link pagination__link--active">1</a>
    </li>
    <li><a href="#" class="pagination__link">2</a></li>
    <li><a href="#" class="pagination__link">3</a></li>
    <li><a href="#" class="pagination__link">4</a></li>
  </ol>
  <button class="pagination__button">
    <svg class="pagination__icon" width="18" height="30">
      <title>Icon: Arrow Next</title>
      <use xlink:href="../img/sprite.svg#arrow_next"></use>
    </svg>
  </button>
</nav>
